<!DOCTYPE html>

   <head>
	<meta charset="utf-8">
	<title>ТОП И АНТИТОП 10 ПРОФФЕСИЙ IT</title>
   </head>
<style type="text/css">
div {
    background: linear-gradient(to bottom, #00ffff 0%, #333399 100%);
}
BODY {
	background: #333399;
}
TABLE {
	margin-top: 5px;
	margin-left: 615px;
	width: 300px;
	border-collapse: collapse;
	border: 2px solid #00ffff;
}
TD, TH {
	padding: 3px;
	border: 1px solid #b00000;
	text-align: left;
}
	</style>
   </head>

   <body>
	<div>
	<table>
		<tr>
		<th><big>место</big></th><th><big>Топ самых перспективных работы</big></th>
		</tr>
		<tr>
		<td>1</td><td>{{ top_1_1 }}</td>
		</tr>
		<tr>
		<td>2</td><td>{{ top_1_2 }}</td>
		</tr>
		<tr>
		<td>3</td><td>{{ top_1_3 }}</td>
		</tr>
		<tr>
		<td>4</td><td>{{ top_1_4 }}</td>
		</tr>
		<tr>
		<td>5</td><td>{{ top_1_5 }}</td>
		</tr>
		<tr>
		<td>6</td><td>{{ top_1_6 }}</td>
		</tr>
		<tr>
		<td>7</td><td>{{ top_1_7 }}</td>
		</tr>
		<tr>
		<td>8</td><td>{{ top_1_8 }}</td>
		</tr>
		<tr>
		<td>9</td><td>{{ top_1_9 }}</td>
		</tr>
		<tr>
		<td>10</td><td>{{ top_1_10 }}</td>
		</tr>
	</table>
	<table>
		<tr>
		<th><big>место</big></th><th><big>Топ самых не перспективных работы</big></th>
		</tr>
		<tr>
		<td>1</td><td>{{ top_2_1 }}</td>
		</tr>
		<tr>
		<td>2</td><td>{{ top_2_2 }}</td>
		</tr>
		<tr>
		<td>3</td><td>{{ top_2_3 }}</td>
		</tr>
		<tr>
		<td>4</td><td>{{ top_2_4 }}</td>
		</tr>
		<tr>
		<td>5</td><td>{{ top_2_5 }}</td>
		</tr>
		<tr>
		<td>6</td><td>{{ top_2_6 }}</td>
		</tr>
		<tr>
		<td>7</td><td>{{ top_2_7 }}</td>
		</tr>
		<tr>
		<td>8</td><td>{{ top_2_8 }}</td>
		</tr>
		<tr>
		<td>9</td><td>{{ top_2_9 }}</td>
		</tr>
		<tr>
		<td>10</td><td>{{ top_2_10 }}</td>
		</tr>
	</table>
	</div>
   </body>

</html>