<!DOCTYPE html>

   <head>
	<meta charset="utf-8">
	<title>Результат востребовательности</title>


   <body style="background-color: #FEF1E6">
   <div align="center">
       <h1 >Получение предсказания от ИИ</h1>
   </div>
	<h4>Для получения результата нажмите на профессию</h4>
    <br>
    {% for name in names %}
        <a href="/{{ name[1] }}">{{ name[0] }}</a>
        <br>
    {% endfor %}
    <br>
    <h4>Результат: {{ result }}</h4>
    <br><br>
    <div align="right">
       <h4>По материалам с <a href="https://www.onetonline.org/find/industry?i=54&s=3" style="color:#0000FE">сайта</a>, данные берутся из датасета</h4>
   </div>
   </body>

</html>